@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .shadow-card {
    box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12),
      0px 0px 2px 0px rgba(145, 158, 171, 0.2);
  }

  .shadow-card-hover {
    box-shadow: 0px 8px 16px rgba(3, 117, 243, 0.16);
  }

  .shadow-service {
    box-shadow: 0 8px 16px 0 rgba(145, 158, 171, 0.16);
  }

  .card-title-clip {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .burst-background {
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.2) 0%,
        transparent 60%
      ),
      conic-gradient(
        from 0deg,
        #315fd4 0deg 15deg,
        #3281ff 15deg 30deg,
        #315fd4 30deg 45deg,
        #3281ff 45deg 60deg,
        #315fd4 60deg 75deg,
        #3281ff 75deg 90deg,
        #315fd4 90deg 105deg,
        #3281ff 105deg 120deg,
        #315fd4 120deg 135deg,
        #3281ff 135deg 150deg,
        #315fd4 150deg 165deg,
        #3281ff 165deg 180deg,
        #315fd4 180deg 195deg,
        #3281ff 195deg 210deg,
        #315fd4 210deg 225deg,
        #3281ff 225deg 240deg,
        #315fd4 240deg 255deg,
        #3281ff 255deg 270deg,
        #315fd4 270deg 285deg,
        #3281ff 285deg 300deg,
        #315fd4 300deg 315deg,
        #3281ff 315deg 330deg,
        #315fd4 330deg 345deg,
        #3281ff 345deg 360deg
      );
    background-blend-mode: screen; /* làm sáng phần giao nhau */
  }
}
